version: 1.0.{build}
image: Visual Studio 2022
build:
  project: OFGB.sln
  parallel: true
  verbosity: minimal
artifacts:
- path: OFGB\bin\Debug\*.exe
- path: OFGB\bin\Debug\*.dll
only_commits:
  files:
    - OFGB/
