version: 1.0.{build}
image: Visual Studio 2022
before_build:
  - nuget restore OFGB.sln
build:
  project: OFGB.sln
  parallel: true
  verbosity: minimal
artifacts:
- path: bin
only_commits:
  files:
    - OFGB/
